@import "tailwindcss";


@font-face {
  font-family: "YekanRegular";
  src: local("YekanBakh-Regular"),
    url("/fonts/Yekan-Bakh-Pro/Webfonts/fonts/woff2/YekanBakh-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "YekanBold";
  src: local("YekanBakh-Bold"),
    url("/fonts/Yekan-Bakh-Pro/Webfonts/fonts/woff2/YekanBakh-ExtraBold.woff2") format("woff2");
}


.yekanRegular{
  font-family: "YekanRegular";
}
.yekanBold{
  font-family: "YekanBold";
}

*{
  outline: none;
  border: 0;
}
.shadow
{
 box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.15);
}
.shadowBtn {
  box-shadow: -4px 10px 20px rgba(0, 0, 0, 0.15);
}

.shadowInput {
  box-shadow: -2px 2 4px rgba(0, 0, 0, 0.25);
}
.shadowItem {
  box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.10);
}

.no-scrollbar::-webkit-scrollbar {

}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}